.about-me_img {
  margin-bottom: 1em;
  margin-right: 1em;
  float: left;
}

.archive__subtitle {
  display: none;
}

.greedy-nav a.site-title {
  display: none;
}

.page__hero--overlay .page__title {
  visibility: hidden;
}
